# @Author : ${author}
# @Email  : ${email}
# @Version: ${version}
# @Link   : ${link}
# @Date   : ${date}
"""
${file_path}
${file_base_name}
${file_name}
${packages}
${file_extension}
${platform}
${file}
${folder}

${1:import os}

${0}
"""
